.singleFood-container {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  background-color: #e5d68aa2;
  padding: 20px 30px;
  border-radius: 8px;

  cursor: pointer;
  transition: 0.3s ease-out;
}
.singleFood-container:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.singleFood-container img {
  width: 100%;
}
.singleFood-container h4 {
  margin-top: 10px;
}
.singleFood-container p {
  color: #222121a8;
}
.singleFood-container h3 {
  font-size: 24px;
  color: #e6425e;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.btn-container button {
  border: 0;
  font-weight: 300;
  background-color: #e6425e;
  color: #fff;
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 576px) {
  .singleFood-container {
    width: 100%;
  }
}
